div,section,article{
    border: 2.5px solid red;
}
header,footer{
    border: 2.5px solid yellow;
}
h1,h2,h3,h4,h5,h6,p,label{
    border: 2px solid blue;
}
img{
    border: 2px solid green;
}