footer {
    display: flex;
    justify-content: center;
    align-items: end;

    padding-top: 100vh;

    color: $seondryColor2;
    background-color: black;

    >div {
        width: 720px;
        max-width: 90%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding-bottom: 3em;

        >div {
            width: 100%;
            height: auto;
            padding: 1em;
            @extend %flexCenter;

            p {
                &::selection {
                    color: black;
                    background-color: $seondryColor2;
                }
            }

            a {
                display: inline-block;
                width: 2.25em;
                height: 2.25em;
                margin: 0 1.5em;
            }

            svg {
                height: 100%;
                fill: $seondryColor2;
                transition: 0.3s;

                &:hover {
                    fill: white;
                    filter: drop-shadow(0 0 15px $seondryColor2);
                }
            }
        }
    }
}