main {
    // margin-top: 50px;
}

.prerequisites {
    position: relative;
    padding-bottom: 50vh;

    >.content {
        height: 100vh;

        &:nth-of-type(odd) {
            >div>article {
                >h4 {
                    bottom: -.5em;
                    right: -1em;
                    transform: rotateY(-35deg) translateZ(150px) rotateX(25deg);

                    @include pad-width() {
                        right: 0;
                        bottom: -1em;
                    }
                }

                >.directions {
                    top: -1.5em;
                    left: -2em;
                    transform: rotateZ(-5deg) rotateY(25deg);

                    @include pad-width() {
                        left: 0;
                    }
                }
            }
        }

        &:nth-of-type(even) {
            >div>article {
                >h4 {
                    top: -.5em;
                    right: -1em;
                    transform: rotateY(-35deg) translateZ(150px);

                    @include pad-width() {
                        right: 0;
                    }
                }

                >.directions {
                    bottom: -2em;
                    left: -2em;
                    transform: rotateZ(-5deg) rotateY(25deg);

                    @include pad-width() {
                        left: 0;
                    }
                }
            }
        }

        >div {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            >article {
                position: relative;
                width: 80vw;
                max-width: 450px;
                height: 40vw;
                max-height: 225px;

                display: none;

                @extend %blurEffect;

                transition: transform 0.1s;
                perspective: 700px;

                >h4 {
                    position: absolute;
                    color: transparent;
                    white-space: nowrap;
                    -webkit-text-stroke: black thin;

                    span {
                        display: inline-block;
                        font-size: inherit;

                        animation: {
                            name: skew;
                            duration: 5s;
                            iteration-count: infinite;
                        }
                    }
                }

                >.directions {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 2/32*100% 4/64*100%;

                    background: {
                        image: url(../img/frame_01.png);
                        position: center;
                        size: contain;
                        repeat: no-repeat;
                    }

                    >p {
                        width: 100%;
                        height: 100%;

                        text-align: justify;

                        overflow: auto;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                    }
                }
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50vh;
        bottom: 0;
        background: linear-gradient(to top, black 20%, transparent 100%);
    }
}

.info {
    @extend %flexCenter;
    flex-wrap: wrap;

    article {
        position: relative;
        width: 100%;
        padding: 100px 0;

        @extend %flexCenter;
        flex-direction: column;
        flex-wrap: wrap;

        color: $seondryColor2;
        background-color: black;

        h3,
        h4 {
            padding-bottom: 1em;
            letter-spacing: 0.25em;

            @include pad-width() {
                letter-spacing: 0;
            }
        }

        >form,
        >div {
            width: 90%;
            max-width: $pad-width;
            display: inherit;
            flex-direction: column;

            padding: 35px 0;

            div {
                position: relative;

                input {
                    width: 100%;
                }
            }

            label {
                margin-top: 1em;
            }
        }

        a {
            &:hover {
                color: white;
                @extend %blurEffectLight;
            }
        }

        h6 {
            position: relative;
            width: 100%;
            padding: .75em 0;
            transition: .5s;

            border: {
                width: 2px 0 0 0;
                style: solid;
                color: $complementColor;
            }
        }

        h6.newsTitle {
            @extend %singleEllipsis;

            &+.newsDate {
                display: inline-block;
                width: 100%;
                font-size: 0.5em;
                margin-bottom: 1em;
                text-align: right;
            }
        }

        h6.question {
            padding-right: 1em;

            &:hover {
                cursor: pointer;
                color: white;
                @extend %blurEffectLight;
            }

            &::after {
                // content: url(../img/downArrow.png);
                content: "";
                position: absolute;
                right: 0;
                height: .75em;
                width: .75em;

                background: {
                    image: url(../img/downArrow.png);
                    size: cover;
                }

                transition: 0.5s ease-out;
            }

            &+p {
                width: 90%;
                max-height: 0;
                margin: 0 auto;
                opacity: 0;
                transition: 0.5s ease-out;
            }
        }

        h6.question.active {
            &+p {
                margin: 1rem auto;
                max-height: 10em;
                opacity: 1;
            }

            &::after {
                transform: rotateX(180deg);
            }
        }

        input[type=button],
        input[type=submit],
        input[type=reset],
        button {
            width: 420px;
            max-width: 95%;
            margin: 0 auto;
            transition: 0.25s;

            &:hover {
                color: white;
                background-color: $complementColor;
                // filter: drop-shadow(0 0 15px $seondryColor2);
            }
        }

        .done {
            pointer-events: none;
            user-select: none;
        }
    }

    article#chapterInfo {
        flex-direction: row;

        h2 {
            padding: 0 0.5em;
            writing-mode: vertical-rl;
            letter-spacing: 0.5em;
            overflow: hidden;

            @include pad-width() {
                writing-mode: initial;
                padding: 0 0 1rem 0;
            }
        }

        ul {
            flex-grow: 1;
            list-style-position: inside;
            counter-reset: custom-counter;
        }

        li {
            position: relative;
            padding: 2.5em 10% 1.5em 10%;

            @include pad-width() {
                padding: 2.5em 5% 1.5em 5%;
            }

            counter-increment: custom-counter;

            background-color: black;

            &::marker {
                content: 'Chapter. 0' counter(custom-counter);
                @include font(1);
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;

                border: {
                    width: 0 .75em .75em 0;
                    style: double;
                    color: $seondryColor2;
                }

                pointer-events: none;
                transition: 0.2s;
                visibility: hidden;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;

                border: {
                    width: .75em 0 0 .75em;
                    style: double;
                    color: $seondryColor2;
                }

                pointer-events: none;
                transition: 0.2s;
                visibility: hidden;
            }

            &:hover,
            &:focus {
                animation: {
                    name: textFlash;
                    duration: .4s;
                    iteration-count: infinite;
                    delay: 0.25s;
                }

                &::before,
                &::after {
                    visibility: visible;
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                display: inline-block;
                width: 100%;
                max-width: 720px;
                @include font(11);
                @extend %singleEllipsis;
            }
        }
    }

    article.newsContainer {
        >div {
            margin-bottom: 50px;
            align-items: center;

            #newsContent {
                position: relative;
                margin-top: 50px;
                width: 90%;
                min-height: 10em;

                background: {
                    image: url(../img/egg.png);
                    position: bottom right;
                    repeat: no-repeat;
                }

                ;

                &::after {
                    content: '營運單位敬上';
                    position: absolute;
                    bottom: 0.5em;
                    right: 80px;
                    font-size: 0.75em;
                }
            }

            #newsDate {
                width: 90%;
                text-align: end;
            }

            .pre {
                position: relative;
                width: 75%;

                h6 {
                    border: none;
                }

                &::before {
                    position: absolute;
                    top: -.5em;
                    font-size: 1.25em;
                }

                @include pad-width() {
                    width: 100%
                }
            }

            #lastNews {
                margin-left: -20%;
                align-self: self-start;

                &::before {
                    content: '上一條';
                }

                @include pc-width-S() {
                    margin-left: 0;
                }
            }

            #nextNews {
                margin-right: -20%;
                align-self: self-end;
                text-align: end;

                &::before {
                    content: '下一條';
                    right: 0;
                }

                @include pc-width-S() {
                    margin-right: 0;
                }
            }
        }
    }
}


@keyframes textFlash {

    49% {
        color: $seondryColor1;
        background-color: $seondryColor2;
    }

    50% {
        background-color: $complementColor;
        color: $seondryColor1 !important;
    }
}

@keyframes skew {

    .5%,
    1.5%,
    2.5%,
    3.5%,
    4.5% {
        transform: skewX(180eg);
        color: black;
    }

    0%,
    1%,
    2%,
    3%,
    4% {
        transform: skewX(-180deg);
        color: white;
        -webkit-text-stroke: transparent thin;

    }

    5% {
        transform: none;
        color: inherit;
        -webkit-text-stroke: inherit;
    }
}

.xSlider {
    position: relative;
    perspective: 750px;
    display: flex;
    align-items: center;
    justify-content: center;

    .videoContainer {
        position: absolute;
        width: 75%;
        display: none;
        transition: 0.3s;
        pointer-events: none;

        iframe {
            pointer-events: none;
            max-width: 100%;
        }
    }

    .active {
        position: relative;
        display: block;
        transform: none;
        pointer-events: all;
        iframe {
            pointer-events: all;
        }
    }

    .next {
        transform: translateZ(-250px) translateX(75%);
    }

    .last {
        transform: translateZ(-250px) translateX(-75%);
    }

    .pre {
        display: block;
        pointer-events: all;
        z-index: -1;
    }
}